.gameOverScreen,
.gameWonScreen {
  display: none;
  z-index: 10;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.gameWonScreen {
  width: 40%;
  height: 100%;
}

.gameOverScreen {
  width: 80%;
  height: 100%;
}

.gameOverWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.gameOverImg,
.gameWonImg {
  width: 100%;
  background-size: cover;
}

.gameOverBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
